<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Items</key>
		<array>
			<dict>
				<key>TargetFunction</key>
				<string>GoWebsite</string>
				<key>title</key>
				<string>评分支持</string>
				<key>accessoryName</key>
				<string>CellArrow</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
			</dict>
			<dict>
				<key>TargetFunction</key>
				<string>GoTel</string>
				<key>title</key>
				<string>客服电话</string>
				<key>cellStyle</key>
				<string>UITableViewCellStyleValue1</string>
				<key>SubTitle</key>
				<string>10086</string>
			</dict>
		</array>
		<key>Footer</key>
		<string></string>
		<key>Header</key>
		<string></string>
	</dict>
</array>
</plist>
