<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Items</key>
		<array>
			<dict>
				<key>SubTitle</key>
				<string>每周二，四，日开奖</string>
				<key>cellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>accessoryType</key>
				<string>MySwitch</string>
				<key>SwitchKey</key>
				<string>shuangseqiu</string>
				<key>title</key>
				<string>双色球</string>
			</dict>
			<dict>
				<key>accessoryType</key>
				<string>MySwitch</string>
				<key>SwitchKey</key>
				<string>daletou</string>
				<key>SubTitle</key>
				<string>每周二，四，日开奖</string>
				<key>title</key>
				<string>大乐透</string>
				<key>cellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
			</dict>
			<dict>
				<key>accessoryType</key>
				<string>MySwitch</string>
				<key>SwitchKey</key>
				<string>3D</string>
				<key>SubTitle</key>
				<string>每周二，四，日开奖</string>
				<key>title</key>
				<string>3D</string>
				<key>cellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
			</dict>
			<dict>
				<key>accessoryType</key>
				<string>MySwitch</string>
				<key>SwitchKey</key>
				<string>qilecai</string>
				<key>SubTitle</key>
				<string>每周二，四，日开奖</string>
				<key>title</key>
				<string>七乐彩</string>
				<key>cellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
			</dict>
			<dict>
				<key>accessoryType</key>
				<string>MySwitch</string>
				<key>SwitchKey</key>
				<string>qixingcai</string>
				<key>SubTitle</key>
				<string>每周二，四，日开奖</string>
				<key>title</key>
				<string>七星彩</string>
				<key>cellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
			</dict>
			<dict>
				<key>accessoryType</key>
				<string>MySwitch</string>
				<key>SwitchKey</key>
				<string>pailie3</string>
				<key>SubTitle</key>
				<string>每周二，四，日开奖</string>
				<key>title</key>
				<string>排列3</string>
				<key>cellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
			</dict>
			<dict>
				<key>accessoryType</key>
				<string>MySwitch</string>
				<key>SwitchKey</key>
				<string>pailie5</string>
				<key>SubTitle</key>
				<string>每周二，四，日开奖</string>
				<key>title</key>
				<string>排列5</string>
				<key>cellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
			</dict>
		</array>
		<key>Footer</key>
		<string></string>
		<key>Header</key>
		<string>打开设置后，立即收到推送信息</string>
	</dict>
</array>
</plist>
